/* border-box e fonte Raleway aplicada em toda a página */

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 16px;
}

body {
    padding: 20px;
    margin: 0;
}


/* Depois do Body, aplicado a imagem de fundo (transparente e atrás do main) */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.jpeg);
    filter: brightness(0.3);
    z-index: -1;
}


/* Campo de busca e botão */

form {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
}


/* Campo de busca */

form input {
    flex-grow: 1;
    padding: 10px;
    font-size: 2rem;
    background-color: rgb(200, 200, 200);
    border: none;
    margin-right: 5px;
}


/* Ao clicar no campo de busca */

form input:focus {
    outline: 3px solid rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
}


/* Botão do campo de busca */

form button {
    flex-grow: 0;
    flex-shrink: 0;
    width: 25%;
    font-size: 2rem;
    background-color: rgb(255, 81, 0);
    color: white;
    border: none;
}


/* Todas as pizzas, com suas imagens, botões, descrições e preços */

main {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 80px;
}


/* Cada pizza individualmente, com sua imagem, botão, descrição e preço*/

main article {
    position: relative;
    width: fit-content;
    height: calc(25vw - 70px / 4);
    margin-bottom: 5px;
}


/* Imagens das pizzas */

main article img {
    object-fit: cover;
    height: calc(25vw - 70px / 4);
    width: calc(25vw - 70px / 4);
}


/* Descrições das pizzas */

main article div {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    padding: 10px;
    opacity: 0.8;
}


/* Preços das pizzas */

main article span {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 1.0rem;
    background-color: black;
    color: white;
    padding: 5px;
}


/* Botão "+Add" das pizzas*/

main article button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 81, 0);
    border: none;
    color: white;
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s linear;
}


/* Ao focar no botão "+add" */

main article button:focus {
    outline: 3px solid rgb(255, 81, 0);
}


/* Ao passar o mouse no botão "+add" */

main article:hover button {
    opacity: 0.8;
}