@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
*{
    font-family: PT Sans, sans-serif;
    margin: 0;
    padding: 0;
}

.allstuff{
    text-align: center;
}

/* Header */
header{
    height: 90px;
    text-align: center;
    background-color: white;
    margin: 0;
}

header > h1{
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;
}

/* body */
body{
    background-color: #292C34;
}

/* scoreboard */
.scoreboard{
    position: relative;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 60px;
}

#scores{
    font-size: 50px;
    padding-top: 10px;
    margin: auto;
    border: 3px solid white;
    width: 250px;
    height: 80px;
}

#user-score{
    padding: auto auto auto 20px;
}

#comp-score{
    padding: auto 20px auto auto;
}

.user-label, .comp-label{
    background-color: #ff7070;
    width: 50px;
}

.user-label{
    position: absolute;
    margin: -60px auto auto 805px;
}

.comp-label{
    position: relative;
    margin: -60px 805px auto auto;
}

/* result */
.result{
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 20px;
}

/* buttons */
.buttons{
    padding: auto;
    margin: auto;
}

.buttons > img{
    margin: 10px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 20px;
    transition: 0.3s;
}

.buttons > img:hover{
    background-color: #1c1e23;
}

.buttons > img:active{
    border: 3px solid orange;
}

/* footer */
footer{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

/*  result glow */
.green-glow {
    border: 4px solid #4dcc7d !important;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b !important;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow {
    border: 4px solid #464647 !important;
    box-shadow: 0 0 10px #25292b;
}